@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;

  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 100%;
  height: 100%;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-width: 1440px;
  margin: 0;
  padding-top: 40px;

  color: #444444;
  background: #ffffff;

  gap: 70px;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  z-index: 1;

  appearance: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}


nav a,
h1,
h2,
h3,
h4,
.gold-button,
.main-category-list {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;

  color: #000000;
}

.gold-button {
  font-size: 18px;
  line-height: 21px;

  display: block;

  padding-top: 9px;
  padding-bottom: 10px;

  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
  background: linear-gradient(to bottom, transparent 40%, #ffe17f 40%, #ffe17f 60%, transparent 60%);
}

.logo {
  line-height: 0;

  width: min-content;
  padding: 2px;
}

.submit {
  border: 3px solid #c4c4c4;
}

button:hover {
  cursor: pointer;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.breadcrumb-link:hover {
  opacity: 0.6;
}

.breadcrumb-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.breadcrumb-link:active {
  opacity: 0.3;
  box-shadow: none;
}

.gold-button:hover {
  background: #ffe17f;
}

.gold-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #af4fff;
}

.gold-button:active {
  background-color: #ffcc33;
  background-image: none;
}

.more-products:hover {
  border-color: #000000;
}

.more-products:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.more-products:active {
  opacity: 0.3;
  border-color: #000000;
  box-shadow: none;
}

.more-products.disabled {
  cursor: default;
  pointer-events: none;

  opacity: 0.3;
  border-color: #e5e5e5;
}

.submit:hover {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}

.submit:focus {
  z-index: 10;

  outline: none;
  box-shadow: 0 0 0 2px #ffe17f, 0 0 0 4px #af4fff;
}

.submit:active {
  opacity: 0.3;
  box-shadow: none;
}

.user-menu a:hover {
  opacity: 0.6;
}

.user-menu a:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f, 0 0 0 4px #af4fff;
}

.popover a:focus {
  box-shadow: 0 0 0 2px #000000, 0 0 0 4px #af4fff;
}

.user-menu a:active {
  opacity: 0.3;
}

.slide-button:hover {
  cursor: pointer;

  opacity: 0.6;
}

.slide-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.slide-button:active {
  opacity: 0.3;
  box-shadow: none;
}

.slide-indicator-list button:hover {
  opacity: 0.6;
}

.slide-indicator-list button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.slide-indicator-list button:active {
  opacity: 0.3;
  box-shadow: none;
}

/*...header*/

.header,
.search-form input,
.search-form button {
  background-color: #ffe17f;
}

.header {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 1160px;
  margin-bottom: -69px;
  padding-right: 60px;
  padding-left: 60px;

  gap: 15px;
}

.header a {
  text-decoration: none;

  color: #000000;
}

.current {
  border-bottom: #000000;
}

.header .disabled {
  cursor: default;
  pointer-events: none;

  opacity: 0.3;
}

.logo-header,
.header section,
.header nav,
.header form {
  margin: 0;
}

.logo-header {
  margin-top: -22px;
  margin-left: -2px;

  vertical-align: middle;
}

.header section {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: -15px;

  gap: 27px;
}

.search-form {
  flex-shrink: 0;

  width: 517px;
}

.search-edit,
.search-form button {
  font: inherit;

  float: left;

  color: #000000;
}

.search-edit {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  width: 357px;
  padding: 9px 14px 7px 47px;

  border: 2px solid #000000;
  border-right: none;
  border-radius: 2rem 0 0 2rem;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
}

.search-edit:focus {
  outline: solid 2px #af4fff;
  outline-offset: 2px;
}

.search-form button {
  width: 160px;
  padding: 8px;

  border: #000000 solid 2px;
  border-radius: 0 2rem 2rem 0;
  background-color: transparent;
}

.user-menu,
.slide-description p,
.services-description p,
.about p,
.contacts p,
.contacts .phone-number,
.subscription p,
.subscription form input,
.subscription small {
  font-size: 18px;
  line-height: 30px;
}

.user-menu {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-left: 0;

  list-style-type: none;

  gap: 26px;
}

.user-menu-item:nth-last-child(2) {
  margin-right: 10px;
}

.user-menu-item > a {
  display: block;
}

.user-menu-item:first-child a {
  padding-left: 27px;

  background-image: url("../images/user.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.user-menu-item:nth-last-child(2) a {
  padding-left: 22px;

  background-image: url("../images/compare.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.user-menu-item:last-child {
  position: relative;
}

.user-menu-item:last-child > a {
  padding-left: 25px;

  background-image: url("../images/basket.svg");
  background-repeat: no-repeat;
  background-position: -3px 6px;
}

.item-name {
  flex-grow: 1;
}

.quantity-goods {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  position: absolute;
  top: 4px;
  left: -18px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 21px;
  min-height: 21px;

  text-align: center;

  border-radius: 50%;
  background: #ffffff;
}

.popover {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  position: absolute;
  z-index: 1;
  left: -120px;

  width: 320px;
  padding-bottom: 20px;

  color: #ffffff;
  background-color: #000000;
}

.popover::before {
  position: absolute;
  top: -6px;
  left: 153px;

  display: block;

  width: 14px;
  height: 6px;

  content: "";

  background-image: url("../images/popover-top.svg");
  background-repeat: no-repeat;
}

.basket-list {
  display: flex;
  flex-direction: column;

  padding-left: 0;

  list-style: none;

  gap: 1px;
}

.product-basket-item {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding: 20px;
}

.product-basket-item + .product-basket-item::before {
  position: absolute;
  top: -1px;
  left: 0;

  display: block;

  width: 320px;
  height: 1px;

  content: "";

  opacity: 0.1;
  background-color: #ffffff;
}

.product-basket-item a {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #ffffff;

  gap: 23px;
}

.product-basket-title {
  align-self: center;

  width: min-content;
  margin: 0;
}

.button-delete-product {
  font-size: 0;

  align-self: flex-start;

  width: 10px;
  height: 10px;

  border: none;
  background-color: transparent;
  background-image: url("../images/product-delete-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-delete-product:hover {
  opacity: 0.6;
}

.button-delete-product:active {
  opacity: 0.3;
}

.button-delete-product:focus {
  box-shadow: 0 0 0 2px #000000, 0 0 0 4px #af4fff;
}

.basket-info {
  display: flex;
  justify-content: space-between;

  padding: 20px;

  background-color: #1a1a1a;
}

.basket-info p {
  margin: 0;
}

.header-nav-list {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin-right: -4px;
  padding-left: 0;

  list-style-type: none;

  text-align: right;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  gap: 46px;
}

.open-basket {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;

  display: block;

  width: 280px;
  margin: 20px;
  margin-bottom: 0;
  padding: 15px 23px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #ffffff;
}

.header-nav-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.header .current {
  border-bottom: #000000 2px solid;
}

.header-nav-item label:hover {
  cursor: inherit;
}

.header-nav-item + .header-nav-item a:hover {
  opacity: 0.6;
}

.header-nav-item a:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f, 0 0 0 4px #af4fff;
}

.header-nav-item + .header-nav-item a:active {
  opacity: 0.3;
  box-shadow: none;
}

.header-nav-item:nth-child(1) {
  position: relative;

  flex-grow: 1;
}

.header-nav-item:nth-child(1) .catalog-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 293px;
}

.catalog-button span:last-child {
  font-size: 0;

  width: 50px;
  height: 50px;

  opacity: 0.3;
  border: 2px solid #000000;
  border-radius: 50%;
  background-image: url("../images/catalog-list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.catalog-button:hover,
.catalog-button:active {
  box-shadow: none;
}

.catalog-button:hover span:last-child,
.catalog-button:active span:last-child {
  opacity: 1;
}

.catalog-button span:last-child::before {
  font-size: 0;

  display: block;

  width: 46px;
  height: 46px;

  content: "";
  transform: rotate(90deg);

  opacity: 1;
  background-image: url("../images/catalog-list.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.catalog-button:focus-within span:last-child::before {
  opacity: 0;
}

.catalog-list {
  display: none;

  padding-left: 0;

  list-style-type: none;

  text-transform: none;
}

.catalog-list a {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;

  letter-spacing: 0;

  justify-self: start;
}

.catalog-button:focus-within ~ .catalog-list {
  position: absolute;
  z-index: 3;
  top: 53px;
  left: -60px;

  display: grid;
  justify-content: start;

  width: 1160px;
  padding: 10px 60px 38px;

  background-color: #ffe17f;

  grid-template-columns: 222px 182px auto;
  column-gap: 30px;
  row-gap: 18px;
}

.catalog-list a:last-child {
  grid-row-start: 3;
  grid-row-end: 4;
}

.catalog-list a:hover {
  opacity: 0.6;
}

.catalog-list a:active {
  opacity: 0.3;
  box-shadow: none;
}

.catalog-list a:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f, 0 0 0 4px #af4fff;
}

/*Slider section*/

.slide-section {
  position: relative;

  align-self: center;

  width: 1160px;
  margin-top: -34px;
  padding-left: 0;

  list-style-type: none;

  background: linear-gradient(to bottom, #ffe17f 148px, #ffffff 148px);
}

.slider-navigation {
  position: absolute;
  top: 209px;
  left: 30px;

  display: flex;
  justify-content: space-between;

  width: 530px;
}

.slider-navigation button {
  z-index: 1;

  width: 20px;
  height: 60px;

  border: none;
  background: transparent;
  background-image: url("../images/next-slide.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider-navigation button:first-child {
  transform: rotate(180deg);
}

.slide-section article {
  position: relative;

  display: none;

  width: 1160px;
  margin-top: 0;

  color: #000000;
}


.slide-section .slide-active {
  display: flex;

  gap: 40px;
}

.slide-description h3,
.services-description h3,
.subscription h2 {
  font-size: 50px;
}

.slide-description {
  position: relative;

  padding-top: 70px;
}

.slide-description h3 {
  margin-bottom: 28px;
}

.slide-description .gold-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 220px;
  min-height: 40px;
}

.slide-section article::before {
  font-size: 180px;
  font-weight: 700;
  line-height: 1em;

  position: absolute;
  top: 8px;
  right: 50px;

  content: "01";

  color: #ffffff;
}

.slide-description p {
  font-weight: 400;

  margin-bottom: 51px;
}

.slide-description table {
  margin-top: 46px;
  margin-left: -4px;
}

.slide-feature-value {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.slide-feature {
  line-height: 30px;

  padding-top: 9px;
  padding-right: 10px;

  text-align: left;

  color: #444444;
}

.slide-indicator-list {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  margin-top: -23px;
  padding: 0;

  list-style: none;

  gap: 20px;
}

.slide-indicator-list button {
  font-size: 0;

  width: 12px;
  height: 12px;
  padding: 0;

  border: #000000 solid 2px;
  border-radius: 50%;
  background: transparent;
}

.slide-indicator-list .slide-indicator-active {
  background-color: #000000;
}

/*MaIN*/

.main-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;

  gap: 70px;
}

.main-category-list {
  font-size: 18px;
  line-height: 24px;

  display: grid;

  width: 1160px;
  margin: 0 auto;
  padding-left: 0;

  list-style-type: none;

  letter-spacing: -0.02em;

  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.main-category-link {
  display: flex;
  flex-direction: column;

  text-decoration: none;

  color: #000000;

  gap: 32px;
}

.main-category-link a::before {
  display: block;

  height: 160px;

  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-category-link:first-child::before {
  display: block;

  height: 160px;

  content: "";

  background-color: #ffe17f;
  background-image: url("../images/virtual.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-category-link:nth-child(2)::before {
  display: block;

  height: 160px;

  content: "";

  background-color: #ffe17f;
  background-image: url("../images/monopads.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-category-link:nth-child(3)::before {
  display: block;

  height: 160px;

  content: "";

  background-color: #ffe17f;
  background-image: url("../images/cameras.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-category-link:nth-child(4)::before {
  display: block;

  height: 160px;

  content: "";

  background-color: #ffe17f;
  background-image: url("../images/braslets.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-category-link:nth-child(5)::before {
  display: block;

  height: 160px;

  content: "";

  background-color: #ffe17f;
  background-image: url("../images/watch.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-category-link:nth-child(6)::before {
  display: block;

  height: 160px;

  content: "";

  background-color: #ffe17f;
  background-image: url("../images/quadrocopters.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-category-link:hover::before {
  background-color: #ffc700;
}

.main-category-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.main-category-link:active {
  opacity: 0.3;
  box-shadow: none;
}

.services {
  margin-top: 12px;
  padding-bottom: 137px;

  background: linear-gradient(to bottom, #ffffff 103px, #f0f0f0 103px);
}

.services-list {
  display: grid;

  width: 1160px;
  margin: 0 auto;
  padding-top: 65px;
  padding-left: 0;

  list-style-type: none;

  grid-template-columns: 283px auto;
  column-gap: 120px;
  row-gap: 35px;
}

.services-list li {
  display: contents;
}

.services-list .gold-button {
  margin-right: 119px;

  grid-column-start: 1;
}

.services-list .active {
  width: 100%;
  padding-right: 119px;

  color: #ffe17f;
  background: #000000;
}

.services-list .active:focus,
.services-list .active:hover {
  padding-right: calc(45.6% - 35px);
}

.services-list .active:focus {
  z-index: 10;

  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.services-description {
  display: none;

  padding-right: 280px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 557px 50%;
}

.delivery-description {
  background-image: url("../images/courier.svg");
}

.guarantee-description {
  background-image: url("../images/guarantee.svg");
}

.credit-description {
  background-image: url("../images/credit.svg");
}

li .service-visible {
  position: relative;

  display: block;
  align-self: center;

  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
}

.service-visible::before {
  position: absolute;
  top: -72px;
  left: -122px;

  display: block;

  width: 7px;
  height: 319px;

  content: "";

  background-color: #000000;
}

.service-visible h3 {
  margin: 0;
}

.services-description p {
  margin: 0;
  margin-top: 34px;
}

.delivery {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;

  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
  background: #f0f0f0;
}

.delivery::before {
  flex-shrink: 0;

  width: 125px;
  min-height: 100px;

  content: "";

  background: #ffe17f url("../images/auto.svg") no-repeat center center;
}

.information-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  min-height: 100px;
}

.information {
  padding: 14px 19px;

  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
}

.information img {
  display: block;

  opacity: 0.3;
}

.delivery:hover img {
  opacity: 1;
}

.delivery:hover::before {
  background-color: #ffc700;
}

.delivery:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.delivery:active::before {
  background-color: #ffc700;
}

.delivery:active img {
  opacity: 1;
}

.delivery:active {
  opacity: 0.3;
}

.info-section {
  position: relative;

  display: flex;

  width: 1160px;
  margin: 0 auto;

  gap: 108px;
}

.info-section article::before {
  position: absolute;

  width: 84px;

  content: "";

  border-top: #000000 7px solid;
}

.info-section p {
  margin-top: 30px;
}

.about .gold-button {
  width: 270px;
}

.contacts .gold-button {
  width: 259px;
  margin-top: 28px;
}

.about {
  max-width: 520px;
  padding-right: 23px;
}

.about h3,
.contacts h3 {
  font-size: 50px;
  line-height: 50px;

  margin-bottom: 45px;
}

.about ul {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;

  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0;

  list-style-type: none;

  letter-spacing: -0.02em;

  color: #000000;
}

.about li {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  gap: 26px;
}

.about li::before {
  display: block;

  width: 8px;
  height: 8px;

  content: "";

  border-radius: 50%;
  background: #ffc700;
}

.contacts {
  flex-grow: 1;

  max-width: 532px;
}

.contacts h4 {
  font-size: 24px;
  font-weight: 700;

  margin-top: 35px;
  margin-bottom: -8px;
}

.contacts .phone-number {
  letter-spacing: 0;

  color: #000000;

  text-decoration-line: underline;
}

.contacts .phone-number:hover {
  opacity: 0.6;
}

.contacts .phone-number:active {
  opacity: 0.3;
}

.contacts .phone-number:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.subscription {
  align-self: stretch;

  background: #f0f0f0;
}

.subscription-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  padding: 64px 0 56px 0;

  gap: 142px;
}

.subscription h2 {
  max-width: 348px;
  margin: 0;
  padding-left: 6px;
}

.subscription p {
  max-width: 560px;
  margin: 0;
  margin-top: 9px;
  padding-left: 6px;
}

.subscription-form {
  display: flex;

  width: 810px;
}

.subscription-form button {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;

  width: 253px;
  height: 58px;
  padding: 18px;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: transparent;
}

.subscription-form .submit:focus {
  z-index: 10;

  box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 4px #af4fff;
}

.subscription input {
  font: inherit;

  width: 100%;
  height: 100%;
  padding: 13px 16px 13px;

  border: none;
  border-bottom: #c4c4c4 3px solid;
  background-color: transparent;
}

.subscription-form input:focus {
  outline: none;
  background-color: #dcdcdc;
}

.subscription-form .error-edit {
  border-color: #ff3d3d;
}

.subscription-form div {
  position: relative;

  flex-grow: 1;
}

.error-subscription-email {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  position: absolute;
  top: 130%;
  left: 0;

  margin-top: -14px;

  color: #ff3d3d;
}


.subscription small {
  display: flex;
  align-items: center;

  padding-left: 32px;

  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

/*fOOTeR*/

.footer-page {
  align-self: stretch;

  padding-left: 0;

  list-style-type: none;

  color: #ffffff;
  background: #444444;
}

.footer-index {
  margin-top: -70px;
}

.container-footer {
  display: grid;
  align-items: center;
  justify-content: space-between;

  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 40px;

  grid-template-columns: 3fr 8fr 3fr;
  grid-template-areas: "logo . ." "address nav-service phone-number" "line-footer nav-social academy-logo";
  row-gap: 25px;
}

.container-footer::before {
  display: block;

  width: 80px;
  height: 7px;

  content: "";

  background-color: #ffc700;

  grid-area: line-footer;
}

.container-footer section {
  display: contents;
}

footer a {
  color: #ffffff;
}

.footer-page ul {
  padding-left: 0;

  list-style-type: none;
}

.footer-navigation-item a {
  font-size: 18px;
  line-height: 21px;

  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.footer-navigation-item a:hover {
  color: #ffc700;
  border-bottom: #ffc700 2px solid;
}

.footer-navigation-item a:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.footer-navigation-item a:active {
  opacity: 0.3;
  color: #ffc700;
  box-shadow: none;
}

.logo-footer {
  margin-top: -2px;
  margin-left: -1px;

  grid-area: logo;
}

.address-footer {
  align-self: end;

  margin: 0;
  margin-top: 8px;

  grid-area: address;
}

.nav-service-footer {
  grid-area: nav-service;
}

.phone-number-footer {
  grid-area: phone-number;
}

.phone-number-footer:hover {
  color: #ffc700;
}

.phone-number-footer:focus {
  outline: none;
  box-shadow: 0 0 0 2px #444444, 0 0 0 4px #af4fff;
}

.phone-number-footer:active {
  opacity: 0.3;
  color: #ffc700;
  box-shadow: none;
}


.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 18px 5px;

  grid-area: nav-social;
  gap: 7px;
}

.social-list a {
  padding: 4px;
}

.social-list img {
  display: block;

  border-radius: 50%;
}

.social-list a:hover img {
  background-color: #ffc700;
}

.social-list a:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.social-list a:active img {
  opacity: 0.3;
  background-color: #ffc700;
}

.academy-logo {
  margin-top: 2px;

  color: #ffc700;

  grid-area: academy-logo;
}

.academy-logo:hover {
  color: #ffffff;
}

.academy-logo:focus {
  outline: none;
  box-shadow: 0 0 0 2px #444444, 0 0 0 4px #af4fff;
}

.academy-logo:active {
  opacity: 0.3;
  color: #ffffff;
  box-shadow: none;
}

.nav-service-footer ul {
  display: flex;
  justify-content: center;

  margin: 12px 0;
  margin-top: 10px;

  gap: 32px;
}

.phone-number-footer,
.academy-logo {
  justify-self: end;
}

/* Модальное окно доставки */


.delivery-modal {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;

  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  letter-spacing: -0.02em;

  background-color: rgba(255, 255, 255, 0.9);
}

.delivery-modal-form {
  position: relative;

  padding: 72px 80px;

  border: 10px solid #000000;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.delivery-modal-form input {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.delivery-modal-form fieldset {
  display: grid;

  padding: 0;

  border: none;

  column-gap: 40px;
  row-gap: 42px;
  grid-template-columns: max-content auto max-content;
}

.delivery-modal h2 {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
  line-height: 50px;

  margin: 0;
  margin-bottom: 42px;
}

.delivery-modal .wrap {
  display: flex;
  flex-direction: column;

  gap: 14px;
}

.delivery-name-wrap {
  position: relative;
}

.delivery-name-wrap::after {
  position: absolute;
  top: 57px;
  right: 20px;

  display: block;

  width: 15px;
  height: 12px;

  content: "";

  background-image: url("../images/ico-edit-name.svg");
}

.delivery-email-wrap {
  position: relative;

  grid-column-start: 2;
  grid-column-end: 4;
}

.delivery-email-wrap::after {
  position: absolute;
  top: 57px;
  right: 20px;

  display: block;

  width: 15px;
  height: 12px;

  content: "";

  background-image: url("../images/ico-edit-mail.svg");
}

.delivery-modal .error-edit {
  box-shadow: inset 0 0 0 2px #ff3d3d;
}

.delivery-modal .error-edit + .error-delivery-email {
  color: #ff3d3d;
}

.delivery-product-list-wrap {
  grid-column-start: 1;
  grid-column-end: 3;
}

.delivery-modal input {
  padding: 20px;

  border: none;
  background-color: #f0f0f0;
}

.delivery-modal input:hover {
  background-color: #dcdcdc;
}

.delivery-modal input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.delivery-modal input:disabled {
  opacity: 0.3;
}

.delivery-name-edit {
  position: relative;

  width: 360px;
}

.delivery-email-edit {
  width: 360px;
}

.error-delivery-email {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  margin-top: -14px;
}

.delivery-number-product-edit-wrap {
  display: flex;
  align-items: stretch;

  grid-column-start: 1;
  grid-column-end: 3;
}

.modal-information-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 26px;
  height: 26px;
  margin-top: -4px;
  margin-left: 8px;

  border: none;
  border-radius: 50%;
  background-color: #ffe17f;
}

.delivery-number-product-wrap {
  display: grid;

  grid-template-columns: 120px auto;
  row-gap: 12px;
}

.popover-delivery-modal {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  position: absolute;
  z-index: 2;
  top: 40px;
  left: -140px;

  display: none;

  width: 200px;
  min-height: 50px;
  padding: 19px;

  color: #ffffff;
  background-color: #000000;
}

.popover-delivery-modal::before {
  position: absolute;
  top: -15px;
  left: 147px;

  content: url("../images/popover-top.svg");
}

.modal-information-button:hover,
.modal-information-button:focus {
  outline: none;
}

.modal-information-button:hover .popover-delivery-modal,
.modal-information-button:focus .popover-delivery-modal {
  display: block;
}

.delivery-number-product-edit {
  width: 60px;
}

.delivery-number-product-edit-wrap button {
  font-size: 0;

  position: relative;

  width: 60px;
  height: 100%;

  border: none;
}

.delivery-number-product-edit-wrap button:last-child::after,
.delivery-number-product-edit-wrap button::before {
  position: absolute;
  top: 50%;
  left: 23px;

  display: block;

  width: 16px;
  height: 2px;

  content: "";

  background-color: #000000;
}

.delivery-number-product-edit-wrap button::after {
  transform: rotate(90deg);
}

.delivery-number-product-edit-wrap button:hover {
  background-color: #ebebeb;
}

.delivery-number-product-edit-wrap button:hover::before,
.delivery-number-product-edit-wrap button:hover::after {
  opacity: 0.6;
}

.delivery-number-product-edit-wrap button:active::before,
.delivery-number-product-edit-wrap button:active::after {
  opacity: 0.3;
}

.delivery-number-product-edit-wrap button:focus {
  z-index: 10;

  border: 2px solid #af4fff;
  outline: none;
}


.delivery-modal .gold-button {
  font-size: 18px;
  line-height: 21px;

  width: 200px;
  height: 40px;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  border: none;
}

.delivery-modal .close-button-wrap {
  position: absolute;
  top: 84px;
  right: 80px;
}

.delivery-modal .close-button {
  position: relative;

  width: 26px;
  height: 26px;

  border: none;
  background-color: transparent;
}

.delivery-modal .close-button::before,
.delivery-modal .close-button::after {
  position: absolute;
  top: calc(50% - 1px);
  left: -6px;

  display: block;

  width: 37px;
  height: 3px;

  content: "";

  background-color: #000000;
}

.delivery-modal .close-button::before {
  transform: rotate(45deg);
}

.delivery-modal .close-button::after {
  transform: rotate(-45deg);
}

.delivery-modal .close-button:hover {
  opacity: 0.6;
}

.delivery-modal .close-button:active {
  opacity: 0.3;
}

.delivery-modal .close-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

/*catalog.html MaIN*/

.catalog-main {
  display: block;

  width: 100%;
  margin-bottom: -70px;
}

.catalog-main-header {
  width: 1040px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 34px;
}

.catalog-main-header h1 {
  font-size: 50px;
  line-height: 50px;

  margin: 0;
  margin-bottom: 16px;
}

.breadcrumb {
  display: flex;

  padding-left: 0;

  list-style-type: none;

  gap: 16px;
}

.breadcrumb a {
  text-decoration: none;

  color: #000000;
}

.breadcrumb li + li::before {
  padding-right: 16px;

  content: url("../images/more.svg");
}

.catalog-main-section {
  width: 100%;
  padding-top: 13px;

  background: #f0f0f0;
}

.container-main-section {
  display: grid;

  width: 1160px;
  margin: 0 auto;

  color: #000000;
  background: #f0f0f0;

  grid-template-columns: 3fr 7fr;
}

.filter {
  width: 320px;

  grid-row-start: 1;
  grid-row-end: 3;
}

.filter-form {
  display: flex;
  flex-direction: column;

  padding-right: 60px;
  padding-left: 60px;

  gap: 35px;
}

.filter-fieldset {
  width: 200px;
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
  padding-top: 11px;

  border: none;
  border-top: #000000 2px solid;
}

.filter-fieldset legend {
  font-size: 0;
  line-height: 0;

  position: relative;

  padding: 0;
}

.filter-fieldset h3 {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;

  margin: 0;
  margin-bottom: 21px;

  letter-spacing: -0.02em;
}

.filter h2,
.sorted-selection h2 {
  font-size: 16px;

  width: min-content;
  margin-top: 11px;
  margin-bottom: 23px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.range-scale {
  position: relative;

  width: 100%;
  height: 2px;
  margin-top: 28px;
  margin-bottom: 16px;

  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;

  height: 2px;

  background-color: #000000;
}

.range-toggle {
  position: absolute;

  width: 18px;
  height: 18px;

  cursor: pointer;

  border: 2px solid #242424;
  border-radius: 50%;
  background: #ebebeb;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:active {
  opacity: 1;
  background-color: #000000;
}

.range-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -11px;
}

.range-wrapper-inputs {
  position: relative;

  display: flex;
  justify-content: center;

  height: 3px;
  margin-bottom: 13px;
}

.catalog-filter-label {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;

  position: absolute;

  margin-right: 5px;
}

.catalog-filter-label:first-child {
  top: -4px;
  left: -13px;
}

.catalog-filter-label:last-child {
  top: -4px;
  left: 91px;
}

.range-input {
  font: inherit;

  width: 50px;
  padding: 0 4px;

  border: none;
  background-color: transparent;

  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

.cost {
  font-size: 14px;
  line-height: 20px;

  text-align: center;

  opacity: 0.3;
}

/* control */
.control {
  display: flex;

  margin-bottom: 17px;

  gap: 16px;
}

.control:last-child {
  margin-bottom: 0;
}

/* Mark */
.control-mark {
  top: 2px;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border: 2px solid #cccccc;
  border-radius: 3px;
}

.bluetooth .control {
  margin-bottom: 20px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input:disabled + .control-mark {
  opacity: 0.1;
  border: 2px solid #cccccc;
}

.control-input:disabled ~ .control-label {
  opacity: 0.1;
}

.control-input:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: url("../images/check-mark-form.svg");
}

.control-input:focus + .control-mark {
  outline: none;
  box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 4px #af4fff;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  width: 8px;
  height: 8px;

  content: "";

  border-radius: 50%;
  background-color: #242424;
}

.control-label {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}


.filter-form-button {
  align-self: flex-start;

  width: 220px;
  margin-top: -19px;
  padding-left: 9px;

  border: none;
}

.sorted-selection {
  display: flex;
  justify-content: space-between;

  padding-right: 40px;
  padding-left: 40px;
}

.sorted-selection select {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  width: 140px;
  margin-top: -11px;
  margin-left: -13px;

  border: none;
  background-color: transparent;
}

.sorted-selection select:hover {
  opacity: 0.6;
}

.sorted-selection select:active {
  opacity: 0.3;
}

.sorted-selection select:focus {
  outline: 2px solid #af4fff;
}

select option {
  font-weight: 400;
}

.container-sorted-button {
  display: flex;
  align-self: stretch;

  margin-top: -9px;
}

.sorted-button {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}

.sorted-button img {
  opacity: 0.2;
}

.sorted-button:last-child {
  transform: rotate(180deg);
}

.sorted-button:focus img {
  opacity: 0.2;
}

.sorted-button:focus {
  opacity: 1;
  box-shadow: 0 0 0 2px #f0f0f0, 0 0 0 4px #af4fff;
}

.sorted-button:hover img {
  opacity: 0.5;
}

.sorted-button:active {
  opacity: 1;
  box-shadow: none;
}


.product-list-section {
  display: flex;
  flex-direction: column;

  width: 840px;
  margin-top: 3px;

  background: #ffffff;

  gap: 44px;
}

.product-list {
  display: grid;

  margin: 0;
  padding: 38px;
  padding-top: 68px;

  list-style: none;

  grid-template-columns: 1fr 1fr;
  column-gap: 36px;
  row-gap: 40px;
}

.product-card {
  display: grid;

  padding: 2px;

  text-decoration: none;

  grid-template-columns: auto min-content;
  grid-template-rows: auto auto;
  gap: 32px;
}

.product-card:hover .product-photo,
.product-card:active .product-photo {
  opacity: 0.2;
}

.product-card:hover h3 {
  opacity: 0.6;
}

.product-card:hover .gold-button {
  z-index: 1;
}

.product-card:active h3,
.product-card:active span {
  opacity: 0.3;
}

.product-card:active .gold-button {
  background: linear-gradient(to bottom, transparent 40%, #ffc700 40%, #ffc700 60%, transparent 60%);
}

.product-photo,
.product-card .gold-button {
  align-self: center;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  justify-self: center;
}

.product-card:focus {
  outline: 2px solid #af4fff;
}

.product-card .gold-button {
  order: -1;
}

.product-card h3 {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;

  width: 210px;
  margin: 0;

  letter-spacing: -0.02em;

  grid-column-start: 1;
  grid-column-end: 2;
}

.product-list span {
  font-size: 18px;
  line-height: 21px;

  text-align: right;

  color: #444444;
}

.product-details {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.more-products {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;

  display: flex;
  align-items: stretch;
  justify-content: center;

  margin: -40px 40px 0;
  padding-top: 15px;
  padding-bottom: 15px;

  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
  border: 3px solid #e5e5e5;
}

.navigation-catalog-pages {
  display: flex;
  justify-content: space-between;

  margin: 0 40px;
  margin-bottom: 78px;
  padding: 0;

  list-style-type: none;

  text-align: center;

  color: #444444;
  background: #ebebeb;
}

.navigation-catalog-pages a {
  display: block;

  width: min-content;

  text-decoration: none;

  opacity: 0.3;
  color: #000000;
}

.page-number a {
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
}

.active-page a {
  cursor: default;
  pointer-events: none;

  opacity: 0.6;
}

.back-page,
.forward-page {
  flex-grow: 1;
}

.back-page {
  text-align: left;
}

.back-page a {
  padding: 25px;
}

.forward-page a {
  margin: 0 0 0 auto;
  margin-right: -3px;
  padding: 25px;
}

.page-number-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 0;

  list-style: none;

  text-decoration: none;
}

.back-forward-page a {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  opacity: 1;
}

.navigation-catalog-pages .disabled {
  cursor: default;
  pointer-events: none;

  opacity: 0.6;
  background-color: #ebebeb;
}

.navigation-catalog-pages a:hover {
  opacity: 1;
}

.page-number-list a:focus {
  opacity: 0.3;
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.page-number-list a:active {
  opacity: 0.1;
  box-shadow: none;
}

.back-forward-page a:hover {
  background-color: #dcdcdc;
}

.back-forward-page a:focus {
  opacity: 1;
  outline: none;
  background-color: #f0f0f0;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #af4fff;
}

.back-forward-page a:active {
  opacity: 0.3;
  background-color: #dcdcdc;
  box-shadow: none;
}

.hidden {
  display: none;
}
