@font-face {
  font-family: Raleway;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Rubik',Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background: #FFFFFF;

  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


nav a,
h1,
h2,
h3,
h4,
.gold-button,
.main-category-list {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}

.gold-button {
  background-image: url(../images/gold-line.svg);
  background-repeat: repeat-x;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

}

.link-button {
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

                    /*...header*/


.header,
.search-form input,
.search-form button {
  background: #FFE17F;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  width: 1160px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;margin-bottom: -70px;
}

.header a {
  color: #000000;
  text-decoration: none;
}

header .logo,
header section,
header nav,
header form,
header ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.header .logo {
  margin-top: -20px;
  vertical-align: middle;
}

.header section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}

.search-form {
  width: 517px;
  flex-shrink: 0;
}

.search-form input,
.search-form button {
  font: inherit;
  color: #000000;
  float: left;
}

.search-form input { width: 69%; }

.search-form button { width: 31%; }

.user-menu,
.slide-description p,
.services-description p,
.about p,
.contacts p,
.contacts .phone-number,
.subscription p,
.subscription form input,
.subscription small {
  font-size: 18px;
  line-height: 30px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  list-style-type: none;
  padding-left: 0;
  gap: 13.5px;
}

.user-menu-item:first-child {
  background-image: url(/images/user.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 27px;
}

.user-menu-item:nth-last-child(2) {
  background-image: url(/images/compare.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 22px;
}

.user-menu-item:last-child {
  background-image: url(/images/basket.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  position: relative;
}

.item-name { flex-grow: 1; }

.quantity-goods {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #FFFFFF;
  position: absolute;
  width: 21px;
  left: -18px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  min-height: 21px;
}

.header-nav-list {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: right;

  display: flex;
  justify-content: space-between;
  gap: 45px;
  list-style-type: none;
  padding-left: 0;
}

.header-nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-item:nth-child(1) {
  min-width: 293px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  gap: 7px;
}

.catalog-list {
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  display: none;
  list-style-type: none;
  padding-left: 0;
}

.catalog-button {
  background-color: #FFE17F;
  border-radius: 50%;
  border: solid #000000 2px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-image: url(/images/catalog-list.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  orphans: 0.3;
}



                              /*Slider section*/


.slide-section {
  background: linear-gradient(to bottom, #ffe17f 26.5%, #FFFfff 26.5%);
  list-style-type: none;
  padding-left: 0;
  position: relative;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  width: 530px;
  position: absolute;
  top: 211px;
  left: 30px;
}

.slider-navigation button {
  background: transparent;
  border: none;
}

.slider-navigation button:first-child { transform: rotate(180deg); }

.slide-section article{
  color: #000000;

  position: relative;
  width: 1160px;
  display: none;
  margin-top: 0;
}


.slide-section .slide-active {
  display: flex;
  gap: 40px;
}

.slide-description h3,
.services-description h3,
.subscription h2 {
  font-size: 50px;
  line-height: 1.0;
}

.slide-description {
  padding-top: 70px;
  position: relative;
}

.slide-section article::before {
  content: "01";
  font-weight: 700;
  font-size: 180px;
  line-height: 1.0;
  color: #FFFfff;

  position: absolute;
  right: 88px;
  top: 0;
}

.slide-description p { font-weight: 400; }

.slide-feature-value {
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.slide-feature {
  line-height: 30px;
  text-align: left;
  color: #444444;
}

.slide-indicator-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 0;
}

.slide-indicator-list button {
  background: transparent;
  border: none;
  padding: 0;
}

                      /*MAIN*/

.main-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 70px;
  width:100%;
}

.main-category-list {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;

  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1160px;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
}

.main-category-list li {
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-category-list li::before {
  background-color: #FFE17F;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-category-list li:first-child::before {
  content: url(/images/virtual.svg);
}

.main-category-list li:nth-child(2)::before {
  content: url(/images/monopads.svg);
  align-items: flex-end;
}

.main-category-list li:nth-child(3)::before {
  content: url(/images/cameras.svg);
}

.main-category-list li:nth-child(4)::before {
  content: url(/images/braslets.svg);
}

.main-category-list li:nth-child(5)::before {
  content: url(/images/watch.svg);
}

.main-category-list li:nth-child(6)::before {
  content: url(/images/quadrocopters.svg);
}

.main-category-list a {
  color: #000000;
  text-decoration: none;
}

.services {
  background: linear-gradient(to bottom, #ffffff 26.087%, #F0F0F0 26.087%);
  padding-bottom: 72px;
}

.services-list {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 11fr;
  column-gap: 116px;
  row-gap: 35px;
  padding-top: 65px;
  list-style-type: none;
  padding-left: 0;
}

.services-list li { display: contents; }

.services-list .link-button {
  width: 54.4%;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.services-list .active{
  color: #FFE17F;
  background: #000000;
}

.services-description { display: none; }

.services-description {
  padding-right: 242px;
  background-repeat: no-repeat;
  background-position: right 50%;
  background-color: transparent;
}

.delivery-description { background-image: url(/images/courier.svg); }

.guarantee-description { background-image: url(/images/guarantee.svg); }

.credit-description { background-image: url(/images/credit.svg); }

li .service-visible {
  display: block;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  align-self: center;
}

.service-visible h3 { margin: 0;}

.services-description p {margin: 0; margin-top: 34px;}



.delivery {
  background: #F0F0F0;

  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  align-items: center;
}

.delivery::before {
  content: url(/images/auto.svg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe17f;
  width: 125px;
  min-height: 100px;
}

.delivery a {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  width: 910px;

  flex-grow: 1;
}

.information-button {
  width: 125px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  background: rgba(220, 220, 220, 0.5);
  padding: 14px 19px;
  border-radius: 50%;
}

.info-section {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  gap: 108px;
}

.about {
  max-width: 520px;
  padding-right: 23px;
}

.about h3, .contacts h3 {
  font-size: 50px;
  line-height: 50px;
}

.about ul {
  list-style-type: disc;
  padding-left: 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts {
  flex-grow: 1;
  padding-right: 23px;
  max-width: 532px;
}

.contacts h4 {
  font-weight: 700;
  font-size: 24px;
}

.contacts .phone-number {
  text-decoration-line: underline;
  letter-spacing: 0;
  color: #000000;
}

.subscription {
  background: #F0F0F0;
}

.subscription-container {
  width: 1440px;
  margin: 0 auto;
  padding: 64px 140px 56px 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 144px;
}

.subscription h2 {
  max-width: 348px;
  margin: 0;
}

.subscription p {
  max-width: 560px;
  margin: 0;
}

.subscription-form button {
  font-family: 'Raleway',Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscription form input { font: inherit; }

.subscription small {
  background-image: url(/images/check-mark.svg);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 32px;
}



                                    /*FOOTER*/



footer {
  color: #FFFFFF;
  background: #444444;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.container-footer {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 8fr 2fr;
  grid-template-areas: "logo . ."
                       "address nav-service phone-number"
                       "line-footer nav-social academy-logo";
  justify-content: space-between;
  align-items: center;
  row-gap: 25px;
  padding-top: 62px;
  padding-bottom: 61px;
}

.container-footer::before {
  content: url(/images/gold-line-footer-page.svg);
  grid-area: line-footer;
}

.container-footer section {display: contents;}

footer a { color: #FFFFFF; }

.footer-page ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-navigation-item a{
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-footer { grid-area: logo; }

.address-footer { grid-area: address; }

.nav-service-footer { grid-area: nav-service; }

.phone-number-footer { grid-area: phone-number; }

.social-list {
  grid-area: nav-social;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.academy-logo { grid-area: academy-logo; }

.nav-service-footer ul {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.phone-number-footer,
.academy-logo { justify-self: end; }





                                            /*catalog.html
                                              MAIN*/

.catalog-main {
  display: block;
  width: 100%;
  margin-bottom: -70px;
}

.catalog-main-header {
  width: 1040px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 34px;
}

.catalog-main-header h1 {
  font-size: 50px;
  line-height: 1.0;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumb {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding-left: 0;
}

.breadcrumb a {
  color: #000000;
  text-decoration: none;
}

.breadcrumb li+li::before {
  content: url(../images/more.svg);
  padding-right: 16px;
}

.catalog-main-section {
  width: 100%;
  background: #F0F0F0;
}

.container-main-section {
  color: #000000;
  background: #F0F0F0;
  display: grid;
  grid-template-columns: 3fr 7fr;
  width: 1160px;
  margin: 0 auto;
}

.filter {
  grid-row-start: 1;
  grid-row-end: 3;
}

.filter-form  {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  padding-left: 60px;
}

.filter-fieldset {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 16px;
  row-gap: 17px;
}

.filter h2, .sorted-selection h2{
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-form legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  opacity: 0.3;
}

.filter-form button {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
}

.sorted-selection {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.sorted-selection select {
  font-family: 'Rubik',Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

select option { font-weight: 400; }

.container-sorted-button {
  display: flex;
  align-self: stretch;
}

.sorted-button {
  width: 30px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
}

.sorted-button:last-child{
  transform: rotate(180deg);
}


.product-list-section {
  background: #FFFFFF;
  display: flex;
  gap: 44px;
  flex-direction: column;
}

.product-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-list {
  padding: 40px;
  padding-top: 70px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 44px;
}

.product-card {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto auto;
  gap: 32px;
}

.product-card a { text-decoration: none; }

.product-photo,
.product-card .gold-button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;
}

.product-card .gold-button { order: -1; }

.product-card h3 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
}

.product-list span {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-details {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.more-products {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: stretch;
  margin: 0 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 3px solid #E5E5E5;
}

.navigation-catalog-pages{
  text-align: center;
  color: #444444;
  background: #EBEBEB;
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  padding: 10px;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 70px;
}

.navigation-catalog-pages a { color: #000000;}

.navigation-catalog-pages a { text-decoration: none; }

.page-number { text-align: center; }

.navigation-catalog-pages li { opacity: 0.3; }

.back-page,
.forward-page { flex-grow: 1; }

.back-page { text-align: left; }

.forward-page { text-align: right; }

.page-number-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.back-page a,
.forward-page a {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-catalog-pages .forward-page { opacity: 1; }

.navigation-catalog-pages .back-page { opacity: 0.6; }
