@font-face {
  font-family: Raleway;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Rubik',Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(5 / 4);
  color: #444444;
  background: #FFFFFF;

  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

nav a,
h1,
h2,
h3,
h4,
.gold-button,
.main-category-list {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}

.gold-button {
  background-image: url(../images/gold-line.svg);
  background-repeat: repeat-x;
  background-position: center;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
}

.link-button {
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-block;
}

                    /*...header*/


.header,
.search-form input,
.search-form button {
  background: #FFE17F;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  width: 1160px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;margin-bottom: -70px;
}

header .logo,
header section,
header nav,
header form,
header ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.header .logo {
  margin-top: -20px;
  vertical-align: middle;
}

.header section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}

.search-form { width: 50%; }

.search-form input,
.search-form button {
  font: inherit;
  color: #000000;
  float: left;
}

.search-form input { width: 69%; }

.search-form button { width: 31%; }

.user-menu,
.slide-description p,
.services-description p,
.about p,
.contacts p,
.contacts .phone-number,
.subscription p,
.subscription form input,
.subscription small {
  font-size: 18px;
  line-height: calc(5 / 3);
}

.user-menu {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 36px;
}

.item-name { flex-grow: 1; }

.quantity-goods {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #FFFFFF;
}

.header-nav-list {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: right;

  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.header-nav-item:nth-child(2) { flex-grow: 1; }

.catalog-list {
  font-family: 'Rubik', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(8 /9);
  text-transform: none;
  display: none;
}





                              /*Slider section*/


.slide-section { background: linear-gradient(to bottom, #ffe17f 26.5%, #FFFfff 26.5%); }

.slide-section article{
  color: #000000;

  position: relative;
  width: 1160px;
  display: none;
  margin-top: 0;
}


.slide-section .slide-active { display: flex;}

.slide-description h3,
.services-description h3,
.subscription h2 {
  font-size: 50px;
  line-height: 1.0;
}

.slide-description {
  padding-top: 70px;
  position: relative;
}

.slide-section article::before {
  content: "01";
  font-weight: 700;
  font-size: 180px;
  line-height: 1.0;
  color: #FFFfff;

  position: absolute;
  right: 88px;
  top: 0;
}

.slide-description p { font-weight: 400; }

.slide-feature-value {
  font-weight: 400;
  font-size: 36px;
  line-height: calc(5 / 6);
}

.slide-feature {
  line-height: calc(15 / 8);
  text-align: left;
  color: #444444;
}



                      /*MAIN*/

.main-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.main-category-list {
  font-size: 18px;
  line-height: calc(4 / 3);
  letter-spacing: -0.02em;

  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1160px;
  margin: 0 auto;
}

.main-category-list li { width: 160px; }

.services {
  background: linear-gradient(to bottom, #ffffff 26.087%, #F0F0F0 26.087%);
  padding-bottom: 72px;
}

.services-list {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: calc( 294% / 11.6 ) calc( 694% / 11.6 );
  column-gap: calc( 116% / 11.6 );
  row-gap: 35px;
  padding-top: 65px;
}

.services-list li { display: contents; }

.services-list .link-button {
  width: calc( 160% / 2.94);
  height: calc( 40em / 21 );
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.services-list .active{
  color: #FFE17F;
  background: #000000;
}

.services-description { display: none; }

li .service-visible {
  display: block;
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  align-self: center;
}

.service-visible h3 { margin: 0;}

.services-description p {margin: 0; margin-top: 34px;}



.delivery {
  background: #F0F0F0;

  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
}

.delivery a {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;

  flex-grow: 1;
}

.delivery span { background: rgba(220, 220, 220, 0.5); }

.info-section {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  gap: 108px;
}

.about {
  max-width: 520px;
  padding-right: 23px;
}

.about h3, .contacts h3 {
  font-size: 50px;
  line-height: 50px;
}

.about ul {
  list-style-type: disc;
  padding-left: 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(10 / 9);
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts {
  flex-grow: 1;
  padding-right: 23px;
  max-width: 532px;
}

.contacts h4 {
  font-weight: 700;
  font-size: 24px;
}

.contacts .phone-number {
  text-decoration-line: underline;
  letter-spacing: 0;
}

.subscription {
  background: #F0F0F0;

  padding: 64px 140px 56px 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 144px;
}
.subscription h2 {
  max-width: 348px;
  margin: 0;
}
.subscription p {
  max-width: 560px;
  margin: 0;
}

.subscription-form button {
  font-family: 'Raleway',Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscription form input { font: inherit; }



                                    /*FOOTER*/



footer {
  color: #FFFFFF;
  background: #444444;
  width: 100%;
}

.container-footer {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.37fr 4.26fr 1fr;
  grid-template-areas: "logo . ."
                       "address nav-service phone-number"
                       ". nav-social academy-logo";
}

.container-footer section {display: contents;}

footer a { color: #FFFFFF; }

.footer-navigation-item a{
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.logo-footer { grid-area: logo; }

.address-footer { grid-area: address; }

.nav-service-footer { grid-area: nav-service; }

.phone-number-footer { grid-area: phone-number; }

.social-list {
  grid-area: nav-social;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.academy-logo { grid-area: academy-logo; }

.nav-service-footer ul {
  display: flex;
  justify-content: center;
  gap: 35px;
}





                                            /*catalog.html
                                              MAIN*/

.catalog-main {
  display: block;
  width: 100%;
}

.catalog-main-header {
  width: 1040px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 34px;
}

.catalog-main-header h1 {
  font-size: 50px;
  line-height: 1.0;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumb {
  display: flex;
  gap: 16px;
}

.breadcrumb li+li::before {
  content: url(../images/more.svg);
  padding-right: 16px;
}

.container-main-section {
  color: #000000;
  background: #F0F0F0;
  display: grid;
  grid-template-columns: 1fr 2.625fr;
  width: 1160px;
  margin: 0 auto;
}

.filter {
  grid-row-start: 1;
  grid-row-end: 3;
}

.filter-form  {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  padding-left: 60px;
}

.filter-fieldset {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 16px;
  row-gap: 17px;
}

.filter h2, .sorted-selection h2{
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-form legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  opacity: 0.3;
}

.filter-form button {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
}

.sorted-selection {
  display: flex;
  justify-content: space-between;
}

.sorted-selection select {
  font-family: 'Rubik',Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

select option { font-weight: 400; }

.product-list-section {
  background: #FFFFFF;
  display: flex;
  gap: 44px;
  flex-direction: column;
}

.product-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-list {
  padding: 40px;
  padding-top: 70px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 44px;
}

.product-card {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto auto;
  gap: 32px;
}

.product-photo,
.product-card .gold-button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;
}

.product-card .gold-button { order: -1; }

.product-card h3 {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 2;
}

.product-list span {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-details {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.more-products {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: stretch;
  margin: 0 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 3px solid #E5E5E5;
}

.navigation-catalog-pages{
  text-align: center;
  color: #444444;
  background: #EBEBEB;
  display: flex;
  justify-content: center;
  margin: 0 40px;
  padding: 10px;
}

.page-number { text-align: center; }

.navigation-catalog-pages li { opacity: 0.3; }

.back-page,
.forward-page { flex-grow: 1; }

.back-page { text-align: left; }

.forward-page { text-align: right; }

.page-number {
  min-width: 2.5em;
  flex-shrink: 0;
}

.back-page a,
.forward-page a {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-catalog-pages .forward-page { opacity: 1; }

.navigation-catalog-pages .back-page { opacity: 0.6; }
